.center-image {
    height: 550px;
}

.nav-one-com {
    left: 370px;
    color: aliceblue;
}

.text-primary {
    position: relative;
    margin: 100px;
}

.rounded-circle {
    position: relative;
    top: 60px;
    right: 250px;
}

.miranda {
    height: 400px;
}